.about {
    @include container;

    &__left {
        @media screen and (max-width: 719px) {
            display: flex;
            flex-direction: column;

            .h1-title {
                order: 1;
            }
            .about__text {
                order: 3;
            }
            .about__image {
                order: 2;
                margin-bottom: 20px;
            }
        }
    }

    &__columns{
        display: grid;
        gap: 20px;
        grid-template-columns: auto 692px;

        @media screen and (max-width: 1299px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 719px) {
            display: flex;
            flex-direction: column;

            .h1-title {
                margin-bottom: 20px
            }
        }
    }

    &__text {
        @include text;

        &_single {
            margin-bottom: 50px;

            @media screen and (max-width: 719px) {
                margin-bottom: 0;
            }
        }
    }

    &__list {
        padding-left: 40px !important;
        margin-bottom: 20px !important;

        @media screen and (max-width: 719px) {
            padding-left: 20px !important;
        }
    }

    &__list-item {
        @include text;
    }

    &__image {
        width: 100%;

        &_first {
            margin-bottom: 50px;

            @media screen and (max-width: 719px) {
                margin-bottom: 20px;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__text-wrapper {
        max-width: 600px;
    }
}