@mixin text {
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
    line-height: 1.2;
}

@mixin container {
    border-radius: 20px;
    background: #fff;
    margin-bottom: 20px;
    padding: 50px;

    @media screen and (max-width: 1299px) {
        padding: 30px;
    }

    @media screen and (max-width: 719px) {
        padding: 40px 20px;
    }
}