.h1-title {
	margin-top: 90px;
	margin-bottom: 42px;
	font-family: Manrope;
	font-size: 42px;
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: 1px;

	span {
		color: #28b4f9;
	}

	@media screen and (max-width: 1299px) {
		margin-top: 0px;
	}

	@media screen and (max-width: 969px) {
		line-height: 1;
	}
	@media screen and (max-width: 719px) {
		font-size: 36px;
	}
	@media screen and (max-width:359px) {
		font-size: 32px;
	}
}
