.product {
	&__heading {
		background-image: url(https://static.tildacdn.com/tild3037-3633-4561-a337-653966663862/materials-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-clip: border-box;
		width: 100%;
		padding: 78px 50px;
		margin-bottom: 20px;
		border-radius: 20px;

		@media screen and (max-width: 1299px) {
			
		}

		@media screen and (max-width: 719px) {
			padding: 32px 20px 20px 20px;
			border-radius: 20px;
		}

		.h1-title {
			margin-top: unset;
			margin-bottom: unset;
			max-width: 610px;

			@media screen and (max-width: 719px) {
				font-size: 28px;
			}

			@media screen and (max-width: 359px) {
				font-size: 24px;
			}
		}
	}

	&__text {
		@include text;
		padding: 0 50px;
		margin-bottom: 50px;

		@media screen and (max-width: 719px) {
			padding: 0 20px;
		}

		&_popup {
			padding-left: 0;

			@media screen and (max-width: 719px) {
				padding: 0;
				margin-bottom: 20px;
			}
		}

		&_subtitle {
			margin-bottom: 16px;
			font-size: 24px;
		}

		span {
			font-weight: 800;
		}
	}

	&__text-container {
		@include container;
		margin-bottom: 50px;
		background: #e5f2fa;

		.product__text {
			padding: 0;
			margin-bottom: 30px;

			&:last-of-type {
				margin-bottom: 10px;
			}
		}
	}

	&__text-cols {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__list {
		padding-left: 30px !important;
    	margin-bottom: unset !important;

		&_margin {
			margin-bottom: 50px !important;
		}
	}

	&__list-item {
		@include text;
	}
}

.variants {
	@include container;
	background: #232323;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	@media screen and (max-width: 1019px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 719px) {
		grid-template-columns: 1fr;
		margin-bottom: 50px;
	}

	&__card {
		background: #fff;
		border-radius: 20px;
		padding: 20px 20px 30px 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;

		&_only-text {
			justify-content: space-between;
		}
	}

	&__image {
		width: 100%;
		align-self: center;
		max-height: 180px;
		object-fit: contain;

		&_mock {
			height: 180px;
			object-fit: cover;
			border-radius: 20px;
		}
	}

	.h3-title {
		margin-bottom: 16px;

		@media screen and (max-width: 719px) {
			font-size: 24px;
		}
	}

	&__description {
		@include text;
		color: #151515;
	}

	&__link {
		@include text;
		color: #28b4f9 !important;
		text-decoration: none !important;
		transition: 0.3s;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
			transition: 0.3s;
		}
	}
}
