.button {
	background: #28b4f9 !important;
    padding: 12px 40px;
    @include text;
    outline: none;
    border: none;
    border-radius: 12px;
    color: #fff !important;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    width: fit-content;

    &:hover {
        background: #AFD94E !important;
        color: #000 !important;
        transition: .3s;
    }
}
