.contacts {
    @include container;
    margin-bottom: 30px;

    &__top {
        margin-bottom: 30px;
    }

    &__content {
        display: flex;
        justify-content: space-between;

    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 300px;
    }

    &__link {
        @include text;
        font-size: 24px;
        color: #151515;
        text-decoration: none;
        transition: .3s;

        &_min {
            font-size: 16px;
        }

        &:hover {
            transition: .3s;
            opacity: 0.7;
        }
    }

    &__right {
        display: flex;
        gap: 20px;
    }

    &__col {
        max-width: 286px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__text {
        @include text;
        color: #151515;

        &:first-of-type {
            margin-bottom: 30px;
        }
    }

    &__wrapper {
        display: flex;
    }

    &__row {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__content-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .h1-title {
            margin-bottom: unset;
            margin-top: unset;
        }

        .contacts__text:first-of-type {
            margin-bottom: unset;
        }
    }
}