@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 120px;
}

.page {
  background: #f1f1f1;
  display: flex;
  overflow-x: clip;
}
.page_noscroll {
  overflow: hidden;
}

.h1-title {
  margin-top: 90px;
  margin-bottom: 42px;
  font-family: Manrope;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 1px;
}
.h1-title span {
  color: #28b4f9;
}
@media screen and (max-width: 1299px) {
  .h1-title {
    margin-top: 0px;
  }
}
@media screen and (max-width: 969px) {
  .h1-title {
    line-height: 1;
  }
}
@media screen and (max-width: 719px) {
  .h1-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 359px) {
  .h1-title {
    font-size: 32px;
  }
}

.h2-title {
  margin-bottom: 40px;
  font-family: Manrope;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
}
.h2-title_light {
  color: #fff;
}
.h2-title span {
  color: #28b4f9;
}
@media screen and (max-width: 719px) {
  .h2-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.h3-title {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  transition: 0.3s;
  color: #151515;
}
@media screen and (max-width: 719px) {
  .h3-title {
    font-size: 20px;
  }
}

.page-wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1299px) {
  .page-wrapper {
    width: calc(100% - 80px);
    margin: 0 40px;
  }
}
@media screen and (max-width: 719px) {
  .page-wrapper {
    width: 100%;
    margin: 0;
  }
}

.header {
  top: 30px;
  display: flex;
  background: #fff;
  border-radius: 20px;
  padding: 15px 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 1300px;
  z-index: 100;
}
@media screen and (max-width: 1299px) {
  .header {
    width: calc(100% - 80px);
    padding: 15px 30px;
  }
}
@media screen and (max-width: 969px) {
  .header {
    padding: 5px 30px;
    top: 10px;
  }
}
@media screen and (max-width: 719px) {
  .header {
    padding: 5px 20px;
    top: 0;
    border-radius: 0;
    width: 100%;
    margin-bottom: 30px;
  }
}
.header__logo_burger {
  display: none;
}
@media screen and (max-width: 969px) {
  .header__logo_burger {
    display: block;
  }
}
.header__content {
  display: flex;
  align-items: center;
  gap: 84px;
}
@media screen and (max-width: 1299px) {
  .header__content {
    gap: 30px;
  }
}
@media screen and (max-width: 969px) {
  .header__content {
    position: absolute;
    background: #fff;
    width: 100vw;
    height: 100vh;
    top: -10px;
    transform: translateX(100%);
    transition: 0.3s;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
  }
  .header__content_opened {
    transform: translateX(-70px);
  }
}
@media screen and (max-width: 719px) {
  .header__content {
    top: 0px;
  }
  .header__content_opened {
    transform: translateX(-20px);
  }
}
.header__mob-contacts {
  display: none;
}
@media screen and (max-width: 969px) {
  .header__mob-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.header__mob-link {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  color: #151515;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 969px) {
  .header__burger {
    display: block;
  }
}
.header__burger-close {
  display: none;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  border: none;
  background: none;
  background-image: url(https://static.tildacdn.com/tild3833-3363-4064-b565-336637393934/cross.svg);
  transition: 0.3s;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
.header__burger-close:hover {
  opacity: 0.7;
  transition: 0.3s;
}
@media screen and (max-width: 969px) {
  .header__burger-close {
    display: initial;
  }
}
.header__menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
@media screen and (max-width: 1299px) {
  .header__menu {
    gap: 20px;
  }
}
@media screen and (max-width: 969px) {
  .header__menu {
    flex-direction: column;
  }
}
@media screen and (max-width: 719px) {
  .header__menu {
    max-width: 90%;
    text-align: center;
  }
}
.header__link {
  color: #151515 !important;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  transition: 0.3s;
}
@media screen and (max-width: 969px) {
  .header__link {
    font-size: 24px !important;
  }
}
.header__link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.main {
  margin-top: 135px;
}
@media screen and (max-width: 969px) {
  .main {
    margin-top: 95px;
  }
}
@media screen and (max-width: 719px) {
  .main {
    margin-top: 80px;
  }
}

.first {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 1299px) {
  .first {
    padding: 30px;
  }
}
@media screen and (max-width: 719px) {
  .first {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 719px) {
  .first {
    display: flex;
    flex-direction: column-reverse;
  }
}
.first__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 56px !important;
  padding-left: 0 !important;
}
@media screen and (max-width: 1299px) {
  .first__list {
    margin-bottom: 30px !important;
  }
}
@media screen and (max-width: 719px) {
  .first__list {
    margin-bottom: 0px !important;
  }
}
.first__list-item {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.first__list-text {
  color: #151515;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  max-width: 78%;
}
@media screen and (max-width: 1299px) {
  .first__list-text {
    max-width: unset;
  }
}
.first__right {
  display: grid;
  grid-template-areas: "building launchpad" "mcity mcity";
  gap: 20px;
}
@media screen and (max-width: 1299px) {
  .first__right {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 719px) {
  .first__right {
    row-gap: 0;
  }
}
.first__image {
  width: 100%;
}
@media screen and (max-width: 1299px) {
  .first__image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    border-radius: 20px;
  }
}
.first__image:nth-of-type(1) {
  grid-area: building;
}
.first__image:nth-of-type(2) {
  grid-area: launchpad;
}
.first__image:nth-of-type(3) {
  grid-area: mcity;
}
@media screen and (max-width: 719px) {
  .first__image:nth-of-type(3) {
    display: none;
  }
}

.preferences {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 50px;
}
@media screen and (max-width: 1299px) {
  .preferences {
    padding: 30px;
  }
}
@media screen and (max-width: 719px) {
  .preferences {
    padding: 40px 20px;
  }
}
.preferences__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
@media screen and (max-width: 719px) {
  .preferences__cards {
    grid-template-columns: 1fr;
  }
}
.preferences__cards .card {
  background: #f9fafb;
  padding: 20px;
  border-radius: 20px;
  transition: 0.3s;
}
.preferences__cards .card svg {
  transition: 0.3s;
}
.preferences__cards .card path {
  transition: 0.3s;
}
.preferences__cards .card__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 52px;
}
.preferences__cards .card__text {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  color: #151515;
}
.preferences__cards .card:hover {
  background: #FFFFFF;
  transition: 0.3s;
}
.preferences__cards .card:hover .h3-title {
  color: #afd94e;
  transition: 0.3s;
}
.preferences__cards .card:hover svg {
  transform: rotate(45deg);
  transition: 0.3s;
}
.preferences__cards .card:hover path {
  stroke: #afd94e;
  transition: 0.3s;
}

.materials {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 50px;
  background: #232323;
}
@media screen and (max-width: 1299px) {
  .materials {
    padding: 30px;
  }
}
@media screen and (max-width: 719px) {
  .materials {
    padding: 40px 20px;
  }
}
.materials__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
@media screen and (max-width: 1019px) {
  .materials__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 719px) {
  .materials__cards {
    grid-template-columns: 1fr;
  }
}
.materials__cards .card {
  background: #fff;
  border-radius: 20px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.materials__cards .card__text {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
}
.materials__cards .card__top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.materials__cards .card .button {
  width: 100%;
  justify-content: center;
}

.objects {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 50px;
}
@media screen and (max-width: 1299px) {
  .objects {
    padding: 30px;
  }
}
@media screen and (max-width: 719px) {
  .objects {
    padding: 40px 20px;
  }
}
.objects__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.objects__slide {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1299px) {
  .objects__slide {
    height: unset !important;
  }
}
@media screen and (max-width: 719px) {
  .objects__slide {
    flex-direction: column;
  }
}
@media screen and (max-width: 1299px) {
  .objects__image {
    max-width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
  }
}
@media screen and (max-width: 719px) {
  .objects__image {
    max-width: 100%;
    max-height: 250px;
  }
}
.objects .h3-title {
  margin-bottom: 20px;
}
.objects__arrow {
  position: absolute;
  z-index: 11;
  width: 11px;
  height: 24px;
  cursor: pointer;
}
.objects__arrow path {
  transition: 0.3s;
}
@media screen and (max-width: 719px) {
  .objects__arrow {
    display: none;
  }
}
.objects__arrow:hover path {
  stroke: #afd94e;
  transition: 0.3s;
}
.objects__arrow_left {
  left: -26px;
}
.objects__arrow_right {
  right: -26px;
  transform: rotate(180deg);
}
.objects__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 50px;
}
@media screen and (max-width: 719px) {
  .objects__content {
    padding-bottom: 0;
  }
}
.objects__text {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
}
.objects .swiper-pagination {
  position: relative;
  margin-top: 30px;
  top: unset;
  bottom: unset;
  height: 8px;
}
.objects .swiper-pagination-bullet {
  background: #c4c4c4;
  width: 8px;
  height: 8px;
  margin: 0 5px !important;
  transition: 0.3s;
  border-radius: 6px !important;
  top: -6px;
  position: relative;
}
.objects .swiper-pagination-bullet-active {
  background: #afd94e;
  width: 50px;
  border-radius: 6px !important;
  transition: 0.3s;
}

.order {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 50px;
  background: #232323;
}
@media screen and (max-width: 1299px) {
  .order {
    padding: 30px;
  }
}
@media screen and (max-width: 719px) {
  .order {
    padding: 40px 20px;
  }
}
.order__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 719px) {
  .order__wrapper {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
.order__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
.order__list-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.order__num {
  background: #afd94e;
  color: #fff;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 24px;
}
.order__text {
  color: #fff;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  max-width: 70%;
}
@media screen and (max-width: 719px) {
  .order__text {
    max-width: 90%;
  }
}
@media screen and (max-width: 359px) {
  .order__text {
    max-width: 70%;
  }
}
.order__form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.order__input {
  width: 100%;
  padding: 12px 30px;
  border: 2px solid #d1d1d1 !important;
  border-radius: 8px;
  background: transparent;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  color: #7c7c7c !important;
  outline: none !important;
}
.order__label {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  color: #999999 !important;
  border-radius: 4px;
}
@media screen and (max-width: 719px) {
  .order__label {
    display: flex;
    align-items: center;
  }
}
.order__field {
  margin-bottom: 20px;
  position: relative;
}

.t-checkbox__indicator {
  border: 2px solid #d1d1d1 !important;
  border-radius: 4px !important;
  opacity: 1 !important;
  width: 30px;
  height: 30px;
}
.t-checkbox__indicator::after {
  left: 7px !important;
  top: 1px !important;
  width: 10px !important;
  height: 17px !important;
  border: solid #d1d1d1 !important;
  border-width: 0 2px 2px 0 !important;
}

.t-form__successbox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  padding-top: 28%;
  border-radius: 10px;
  margin-bottom: 0 !important;
}

.t-form__errorbox-middle {
  display: none !important;
}

.t-input-error {
  position: absolute;
  bottom: -14px;
  margin: 0 !important;
  font-family: "Manrope" !important;
}

.uc-fakeform {
  display: none !important;
}

.contacts {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 50px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1299px) {
  .contacts {
    padding: 30px;
  }
}
@media screen and (max-width: 719px) {
  .contacts {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 719px) {
  .contacts {
    margin-bottom: 20px;
  }
}
.contacts__top {
  margin-bottom: 30px;
}
@media screen and (max-width: 719px) {
  .contacts__top {
    display: flex;
    justify-content: center;
  }
}
.contacts__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 719px) {
  .contacts__content {
    flex-direction: column;
  }
}
.contacts__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
@media screen and (max-width: 719px) {
  .contacts__list_mobile {
    display: none;
  }
}
.contacts__link {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  font-size: 24px;
  color: #151515 !important;
  text-decoration: none;
  transition: 0.3s;
}
.contacts__link_min {
  font-size: 16px;
}
.contacts__link:hover {
  transition: 0.3s;
  opacity: 0.7;
}
.contacts__right {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 969px) {
  .contacts__right {
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (max-width: 719px) {
  .contacts__right {
    gap: 50px;
  }
}
.contacts__col {
  max-width: 286px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 969px) {
  .contacts__col {
    gap: 5px;
  }
}
.contacts__map {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.contacts__text {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  color: #151515;
}
.contacts__text:first-of-type {
  margin-bottom: 30px;
}
@media screen and (max-width: 969px) {
  .contacts__text:first-of-type {
    margin-bottom: 5px;
  }
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 380px auto;
  justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: 1049px) {
  .contacts__wrapper {
    grid-template-columns: 1fr;
  }
}
.contacts__row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 75%;
}
@media screen and (max-width: 1049px) {
  .contacts__row {
    margin-bottom: 50px;
  }
  .contacts__row:last-of-type {
    margin-bottom: 0;
  }
}
.contacts__content-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__content-col .h1-title {
  margin-bottom: unset;
  margin-top: unset;
}
@media screen and (max-width: 719px) {
  .contacts__content-col .h1-title {
    margin-bottom: 30px;
  }
}
.contacts__content-col .contacts__text:first-of-type {
  margin-bottom: unset;
}

.about {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 50px;
}
@media screen and (max-width: 1299px) {
  .about {
    padding: 30px;
  }
}
@media screen and (max-width: 719px) {
  .about {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 719px) {
  .about__left {
    display: flex;
    flex-direction: column;
  }
  .about__left .h1-title {
    order: 1;
  }
  .about__left .about__text {
    order: 3;
  }
  .about__left .about__image {
    order: 2;
    margin-bottom: 20px;
  }
}
.about__columns {
  display: grid;
  gap: 20px;
  grid-template-columns: auto 692px;
}
@media screen and (max-width: 1299px) {
  .about__columns {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 719px) {
  .about__columns {
    display: flex;
    flex-direction: column;
  }
  .about__columns .h1-title {
    margin-bottom: 20px;
  }
}
.about__text {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
}
.about__text_single {
  margin-bottom: 50px;
}
@media screen and (max-width: 719px) {
  .about__text_single {
    margin-bottom: 0;
  }
}
.about__list {
  padding-left: 40px !important;
  margin-bottom: 20px !important;
}
@media screen and (max-width: 719px) {
  .about__list {
    padding-left: 20px !important;
  }
}
.about__list-item {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
}
.about__image {
  width: 100%;
}
.about__image_first {
  margin-bottom: 50px;
}
@media screen and (max-width: 719px) {
  .about__image_first {
    margin-bottom: 20px;
  }
}
.about__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about__text-wrapper {
  max-width: 600px;
}

.product__heading {
  background-image: url(https://static.tildacdn.com/tild3037-3633-4561-a337-653966663862/materials-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  width: 100%;
  padding: 78px 50px;
  margin-bottom: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 719px) {
  .product__heading {
    padding: 32px 20px 20px 20px;
    border-radius: 20px;
  }
}
.product__heading .h1-title {
  margin-top: unset;
  margin-bottom: unset;
  max-width: 610px;
}
@media screen and (max-width: 719px) {
  .product__heading .h1-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 359px) {
  .product__heading .h1-title {
    font-size: 24px;
  }
}
.product__text {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  padding: 0 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 719px) {
  .product__text {
    padding: 0 20px;
  }
}
.product__text_popup {
  padding-left: 0;
}
@media screen and (max-width: 719px) {
  .product__text_popup {
    padding: 0;
    margin-bottom: 20px;
  }
}
.product__text_subtitle {
  margin-bottom: 16px;
  font-size: 24px;
}
.product__text span {
  font-weight: 800;
}
.product__text-container {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 50px;
  margin-bottom: 50px;
  background: #e5f2fa;
}
@media screen and (max-width: 1299px) {
  .product__text-container {
    padding: 30px;
  }
}
@media screen and (max-width: 719px) {
  .product__text-container {
    padding: 40px 20px;
  }
}
.product__text-container .product__text {
  padding: 0;
  margin-bottom: 30px;
}
.product__text-container .product__text:last-of-type {
  margin-bottom: 10px;
}
.product__text-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.product__list {
  padding-left: 30px !important;
  margin-bottom: unset !important;
}
.product__list_margin {
  margin-bottom: 50px !important;
}
.product__list-item {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
}

.variants {
  border-radius: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 50px;
  background: #232323;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: auto;
}
@media screen and (max-width: 1299px) {
  .variants {
    padding: 30px;
  }
}
@media screen and (max-width: 719px) {
  .variants {
    padding: 40px 20px;
  }
}
.variants::-webkit-scrollbar {
  background: #d9d9d9;
  border-radius: 3px;
  height: 6px;
}
.variants::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 3px;
}
@media screen and (max-width: 1019px) {
  .variants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 719px) {
  .variants {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}
.variants__card {
  background: #fff;
  border-radius: 20px;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 280px;
  width: 280px;
}
.variants__card_only-text {
  justify-content: space-between;
}
.variants__image {
  width: 100%;
  align-self: center;
  max-height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}
.variants__image_mock {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.variants .h3-title {
  margin-bottom: 16px;
}
@media screen and (max-width: 719px) {
  .variants .h3-title {
    font-size: 24px;
  }
}
.variants__description {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  color: #151515;
}
.variants__link {
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  color: #28b4f9 !important;
  text-decoration: none !important;
  transition: 0.3s;
  cursor: pointer;
  margin-top: auto;
}
.variants__link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3137254902);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}
.popup_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: 0.3s;
}
.popup .h2-title {
  font-size: 36px;
  margin-bottom: 16px;
}
@media screen and (max-width: 719px) {
  .popup .h2-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 719px) {
  .popup .product__list {
    padding-left: 20px !important;
    margin-bottom: 20px !important;
  }
}
.popup__container {
  background: #fff;
  border-radius: 20px;
  width: 80%;
  max-height: 80%;
  padding: 70px 50px 50px 50px;
  display: grid;
  grid-template-columns: 285px auto;
  grid-template-rows: 100%;
  gap: 20px;
  position: relative;
}
@media screen and (max-width: 719px) {
  .popup__container {
    border-radius: 0;
    width: 100%;
    max-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    padding: 44px 20px;
    overflow: overlay;
  }
  .popup__container::-webkit-scrollbar {
    background: #d9d9d9;
    border-radius: 3px;
    width: 6px;
  }
  .popup__container::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 3px;
  }
}
@media screen and (max-width: 719px) {
  .popup__left {
    max-height: 200px;
  }
}
.popup__image {
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.popup__image_mock {
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media screen and (max-width: 719px) {
  .popup__image_mock {
    height: 200px;
  }
}
.popup__close-ico {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
  border: none;
  background: none;
  background-image: url(https://static.tildacdn.com/tild3833-3363-4064-b565-336637393934/cross.svg);
  transition: 0.3s;
  cursor: pointer;
}
.popup__close-ico:hover {
  opacity: 0.7;
  transition: 0.3s;
}
@media screen and (max-width: 719px) {
  .popup__close-ico {
    position: fixed;
  }
}
.popup__image {
  width: 100%;
}
.popup__right {
  max-height: 100%;
  overflow: overlay;
  position: relative;
  padding-right: 24px;
}
.popup__right::-webkit-scrollbar {
  background: #d9d9d9;
  border-radius: 3px;
  width: 6px;
}
.popup__right::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 3px;
}
@media screen and (max-width: 719px) {
  .popup__right {
    overflow: unset;
    padding-right: 0;
  }
}
.popup .product__text-container {
  padding: 20px;
  margin-bottom: 40px;
}
@media screen and (max-width: 719px) {
  .popup .product__text-container {
    margin-inline: -20px;
    margin-bottom: 20px;
  }
}
.popup .product__text-container:last-of-type {
  margin-bottom: 0;
}
.popup .product__list-item {
  margin-bottom: 8px;
}
.popup .product__list-item:last-of-type {
  margin-bottom: 0;
}

.t-popup__container {
  border-radius: 20px;
}

.button {
  background: #28b4f9 !important;
  padding: 12px 40px;
  font-size: 16px;
  font-family: Manrope;
  font-weight: 600;
  line-height: 1.2;
  outline: none;
  border: none;
  border-radius: 12px;
  color: #fff !important;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: unset;
}
@media screen and (max-width: 1299px) {
  .button {
    padding: 12px 20px;
  }
}
@media screen and (max-width: 1199px) {
  .button_header {
    display: none;
  }
}
@media screen and (max-width: 719px) {
  .button_first {
    display: none;
  }
}
.button:hover {
  background: #afd94e !important;
  color: #000 !important;
  transition: 0.3s;
}
.button_form {
  width: 100%;
  justify-content: center;
  border-radius: 8px;
}